<mat-card class="firingBoard">
    <mat-grid-list cols="11" rowHeight="1:1">
        <mat-grid-tile *ngFor="let tile of tiles" [ngClass]="{'sea': tile.Type === 1, 'ship': tile.Type === 2}">
            {{ tile.Text }}
        </mat-grid-tile>
    </mat-grid-list>
</mat-card>