<span class="player">
    <mat-card-title>Player {{index}}</mat-card-title>
    <mat-grid-list cols="2" class="gridList">
        <mat-grid-tile class="board">
            <app-board [board]="player.ships" class="board"></app-board>
        </mat-grid-tile>
        <mat-grid-tile class="board">
            <app-firing-board #firingBoard class="board"></app-firing-board>
        </mat-grid-tile>
    </mat-grid-list>
</span>