<mat-grid-list cols="1" rowHeight="30:18" class="game"> 
        <mat-grid-tile *ngFor="let player of (game | async); let i  = index">
            <app-player #players [player]="player" [index]="i+1" class="player"></app-player>
        </mat-grid-tile>
</mat-grid-list>