<mat-toolbar class="toolbar">
    <button mat-icon-button (click)="newGameClick()" [disabled]="isGameInProgress | async" class="button">New Game</button>
    <span class = "filler"></span>
    <span>{{ summary | async }}</span>
    <span class = "filler"></span>
</mat-toolbar>